<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>download </title>
    <link rel="stylesheet" type="text/css" href="/static/css/stye.css">
</head>
<body>
<header>
    <h1>youdownloder</h1>
</header>
<nav>
    <a href="downloads.html"><li>download</li></a>
    <a href="index.html"><li>home</li></a>
</nav>
<form action="/download" method="post">
    <legend>my youloader</legend>
    <fieldset>
        <label>video id</label>
        <input type="text" placeholder="enter a youtube vidoe id.." name="videoid"/>
        <input type="submit"/>
    </fieldset>
</form>
</body>
</html>